@import "colors";

.aws-navbar-toggle {
  background-color: $red;
  border: 1px groove $red-300;
  border-radius: .25rem;
  box-shadow: none;
  color: $gray-200;
  display: inline-block;
  outline: none;

  &_active {
    background-color: rgba($red-300, .3);
    color: $white;

    & svg {
      filter: drop-shadow(1px 1px rgba(0, 0, 0, .1));
    }
  }

  &.aws-navbar-toggle_active :hover, :hover {
    color: $white;
    cursor: pointer;

    & svg {
      filter: drop-shadow(1px 1px rgba(0, 0, 0, .1));
    }
  }

  &:hover:not(.aws-navbar-toggle_active) {
    background-color: rgba($red-300, .5);
    border: 1px groove $red-300;
    color: $white;
    cursor: pointer;
  }

  &__button {
    background-color: transparent;
    font-size: 1.25rem;

  }
}
