@import "_smart-grid";

.aws-root {
  display: grid;
  grid-template-areas: 'header' 'navbar' 'main' 'footer';
  grid-template-rows: auto auto 1fr auto;
  height: 100%;

  & aws-header {
    grid-area: header;
  }

  & aws-navbar {
    grid-area: navbar;
  }

  & .aws-root__content {
    grid-area: main;
    //background-color: #f00;
  }

  & aws-footer {
    grid-area: footer;
  }
}

.aws-root__content {
  @include wrapper();
  width: 100%;

  &-row {
    @include row-flex();
  }

  &-main {
    @include col();
    @include size(12);
  }

}
