<ng-template #smallScreen>
  <aws-navbar-toggle
    (click)="onToggleButtonClick()"
  >
  </aws-navbar-toggle>
</ng-template>

<ng-template #largeScreen>
  <a
    routerLink=""
    routerLinkActive="aws-navbar__item_active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="aws-navbar__item"
  >
    Главная
  </a>
  <a
    routerLink="contacts"
    routerLinkActive="aws-navbar__item_active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="aws-navbar__item"
  >
    Контакты
  </a>
  <a
    routerLink="about"
    routerLinkActive="aws-navbar__item_active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="aws-navbar__item"
  >
    О Нас
  </a>
</ng-template>

<div class="aws-navbar__container">
  <nav class="aws-navbar__body">
    <ng-container [ngTemplateOutlet]="template$ | async"></ng-container>
  </nav>
</div>
