@import "_smart-grid";

.aws-navbar {
  background-color: #f00;

  &__wrapper {
    @include wrapper();
  }

  &__row {
    @include row-flex();
  }

  &__body {
    @include col();
    @include size(12);
  }

  &__item {
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #fff;
    display: inline-block;
    padding: .75rem .5rem;

    &_active {
      background-color: rgba(256, 256, 256, 0.4);
      border: 1px groove #aaa;
    }

    &:hover {
      border: 1px groove #aaa;
      cursor: pointer;
    }

  }


}
