@import "_smart-grid";

.aws-navbar {
  background-color: #f00;

  &__wrapper {
    @include wrapper();
  }

  &__row {
    @include row-flex();
  }

  &__body {
    @include col();
    @include size(12)
  }

  &__item {
    color: #fff;
    padding: .5rem;

    &:hover {
      cursor: pointer;
    }
  }
}
