@import "colors";

.aws-navbar {
  display: block;

  &__container {
    background-color: $red;
  }

  &__body {
    align-items: center;
    display: flex;
  }

  &__item {
    border: 1px solid transparent;
    border-radius: .25rem;
    color: $white;
    display: inline-block;
    padding: .75rem .5rem;

    &_active, &:hover {
      background-color: rgba($red-300, .5);
      border: 1px groove $red-300;
      text-shadow: 1px 1px rgba(0, 0, 0, .25);
    }

    &:hover {
      cursor: pointer;
    }

  }


}
